<div
    class="image-header"
    style="background-image: url(/data/just_transparent.png);"
    data-imgs="<%- htmlEscape(JSON.stringify(locals.images)) -%>">
    <h1>
        <% if (locals.titleUrl) { %>
            <a href="<%- url_for(locals.titleUrl) -%>"><%- locals.title -%></a>
        <% } else { %>
            <%- locals.title -%>
        <% } %>
    </h1>
</div>
